<div class="col-9">
  <h1>Add New Patient</h1>
  <form
    id="addPatientForm"
    [formGroup]="addPatientForm"
    (ngSubmit)="onAddingPatient()"
  >
    <div class="mb-2">
      <label for="patientSSN" class="form-label">SSN</label>
      <input
        type="text"
        formControlName="SSN"
        class="form-control"
        id="patientSSN"
        [(ngModel)]="newPatient.SSN"
      />
      <div
        *ngIf="
          addPatientForm.controls['SSN'].invalid &&
          (addPatientForm.controls['SSN'].dirty ||
            addPatientForm.controls['SSN'].touched)
        "
      >
        <div
          class="errors"
          *ngIf="addPatientForm.controls['SSN'].errors['required']"
        >
          SSN is required.
        </div>
        <div
          class="errors"
          *ngIf="addPatientForm.controls['SSN'].errors['pattern']"
        >
          Invalid SSN, should be 14 numbers.
        </div>
      </div>
    </div>

    <div class="mb-2">
      <label for="patientFName" class="form-label">First Name</label>
      <input
        type="text"
        formControlName="firstname"
        class="form-control mb-2"
        id="patientFName"
        [(ngModel)]="newPatient.firstName"
      />
      <div
        *ngIf="
          addPatientForm.controls['firstname'].invalid &&
          (addPatientForm.controls['firstname'].dirty ||
            addPatientForm.controls['firstname'].touched)
        "
      >
        <div
          class="errors"
          *ngIf="addPatientForm.controls['firstname'].errors['required']"
        >
          First Name is required.
        </div>
        <div
          class="errors"
          *ngIf="addPatientForm.controls['firstname'].errors['minlength']"
        >
          Minlength is
          {{
            addPatientForm.controls["firstname"].errors["minlength"]
              .requiredLength
          }}, you entered
          {{
            addPatientForm.controls["firstname"].errors["minlength"]
              .actualLength
          }}
        </div>
      </div>
    </div>

    <div class="mb-2">
      <label for="patientFName" class="form-label">Last Name</label>
      <input
        type="text"
        formControlName="lastname"
        class="form-control mb-2"
        id="patientLName"
        [(ngModel)]="newPatient.lastName"
      />
      <div
        *ngIf="
          addPatientForm.controls['lastname'].invalid &&
          (addPatientForm.controls['lastname'].dirty ||
            addPatientForm.controls['lastname'].touched)
        "
      >
        <div
          class="errors"
          *ngIf="addPatientForm.controls['lastname'].errors['required']"
        >
          First Name is required.
        </div>
        <div
          class="errors"
          *ngIf="addPatientForm.controls['lastname'].errors['minlength']"
        >
          Minlength is
          {{
            addPatientForm.controls["lastname"].errors["minlength"]
              .requiredLength
          }}, you entered
          {{
            addPatientForm.controls["lastname"].errors["minlength"].actualLength
          }}
        </div>
      </div>
    </div>

    <div class="mb-2">
      <label for="patientAge" class="form-label">Age</label>
      <input
        type="number"
        formControlName="age"
        class="form-control mb-2"
        id="patientAge"
        [(ngModel)]="newPatient.age"
      />
      <div
        *ngIf="
          addPatientForm.controls['age'].invalid &&
          (addPatientForm.controls['age'].dirty ||
            addPatientForm.controls['age'].touched)
        "
      >
        <div
          class="errors"
          *ngIf="addPatientForm.controls['age'].errors['required']"
        >
          Age is required.
        </div>
        <div
          class="errors"
          *ngIf="addPatientForm.controls['age'].errors['min']"
        >
          Age must be 5 or greater
        </div>
      </div>
    </div>

    <div class="mb-2">
      <label for="patientAddress" class="form-label">Address</label>
      <div class="row">
        <div class="col-4">
          <label for="patientAddress" class="form-label">City</label>
          <input
            type="text"
            formControlName="city"
            class="form-control mb-2"
            id="city"
            [(ngModel)]="newPatient.address.city"
          />
          <div
            *ngIf="
              addPatientForm.controls['city'].invalid &&
              (addPatientForm.controls['city'].dirty ||
                addPatientForm.controls['city'].touched)
            "
          >
            <div
              class="errors"
              *ngIf="addPatientForm.controls['city'].errors['required']"
            >
              City is required.
            </div>
          </div>
        </div>
        <div class="col-4">
          <label for="patientAddress" class="form-label">Street</label>
          <input
            type="text"
            formControlName="street"
            class="form-control mb-2"
            id="street"
            [(ngModel)]="newPatient.address.street"
          />
          <div
            *ngIf="
              addPatientForm.controls['street'].invalid &&
              (addPatientForm.controls['street'].dirty ||
                addPatientForm.controls['street'].touched)
            "
          >
            <div
              class="errors"
              *ngIf="addPatientForm.controls['street'].errors['required']"
            >
              Street is required.
            </div>
          </div>
        </div>

        <div class="col-4">
          <label for="patientAddress" class="form-label">Building</label>
          <input
            type="text"
            formControlName="building"
            class="form-control mb-2"
            id="building"
            [(ngModel)]="newPatient.address.building"
          />
          <div
            *ngIf="
              addPatientForm.controls['building'].invalid &&
              (addPatientForm.controls['building'].dirty ||
                addPatientForm.controls['building'].touched)
            "
          >
            <div
              class="errors"
              *ngIf="addPatientForm.controls['building'].errors['required']"
            >
              Building Number is required.
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="mb-2">
      <label for="patientPhone" class="form-label">Phone</label>
      <input
        type="text"
        formControlName="phone"
        class="form-control mb-2"
        id="patientPhone"
        [(ngModel)]="newPatient.phone"
      />
      <div
        *ngIf="
          addPatientForm.controls['phone'].invalid &&
          (addPatientForm.controls['phone'].dirty ||
            addPatientForm.controls['phone'].touched)
        "
      >
        <div
          class="errors"
          *ngIf="addPatientForm.controls['phone'].errors['required']"
        >
          Phone Number is required.
        </div>
        <div
          class="errors"
          *ngIf="addPatientForm.controls['phone'].errors['pattern']"
        >
          Invalid phone number
        </div>
      </div>
    </div>

    <div class="mb-2">
      <label for="patientEmail" class="form-label">Email</label>
      <input
        type="email"
        formControlName="email"
        class="form-control mb-2"
        id="patientEmail"
        [(ngModel)]="newPatient.email"
      />
      <div
        *ngIf="
          addPatientForm.controls['email'].invalid &&
          (addPatientForm.controls['email'].dirty ||
            addPatientForm.controls['email'].touched)
        "
      >
        <div
          class="errors"
          *ngIf="addPatientForm.controls['email'].errors['required']"
        >
          Email is required.
        </div>
        <div
          class="errors"
          *ngIf="addPatientForm.controls['email'].errors['email']"
        >
          Invalid email format.
        </div>
      </div>
    </div>

    <div class="mb-2">
      <label for="patientPassword" class="form-label">Password</label>
      <input
        type="password"
        formControlName="password"
        class="form-control mb-2"
        id="patientPassword"
        [(ngModel)]="newPatient.password"
      />
      <div
        *ngIf="
          addPatientForm.controls['password'].invalid &&
          (addPatientForm.controls['password'].dirty ||
            addPatientForm.controls['password'].touched)
        "
      >
        <div
          class="errors"
          *ngIf="addPatientForm.controls['password'].errors['required']"
        >
          Password is required.
        </div>
        <div
          class="errors"
          *ngIf="addPatientForm.controls['password'].errors['pattern']"
        >
          Password should be be at least 8 characters long and contain at least
          one lowercase letter, one uppercase letter, one number, and one
          special character
        </div>
      </div>
    </div>

    <button
      class="btn btn-primary mb-2"
      type="submit"
      [disabled]="addPatientForm.invalid"
    >
      Add
    </button>
  </form>
  <div *ngIf="errorMessage" class="errors">
    {{ errorMessage }}
  </div>
  <div *ngIf="data">
    {{ data }}
  </div>
</div>
