
<div  class="form-container" style="display: flex;">
 
  <form [formGroup]="doctorForm" (ngSubmit)="onSubmit()"style="flex: 1;"> 
 
   <h1>New Doctor</h1>
   <div class="form-group">
                    <!-- SSN -->
     <label for="SSN">SSN</label>
     <input id="SSN" type="text" formControlName="SSN" class="my-text">
                 <!-- validation -->
     <div *ngIf="doctorForm.controls['SSN'].invalid && (doctorForm.controls['SSN'].dirty || doctorForm.controls['SSN'].touched)">
       <div class="alert alert-danger error" *ngIf="doctorForm.controls['SSN'].hasError('required')">
          SSN is required.
       </div>
       <div class="alert alert-danger error" *ngIf="doctorForm.controls['SSN'].hasError('minlength')">
         accept 14 number 
      </div>   </div>
 </div>
   
           <!-- firstName -->
   <div class="form-group">
       <label for="myText">firstName</label>
       <input id="myText" type="text" formControlName="firstName" class="my-text">
             <!-- validation -->
       <div *ngIf="doctorForm.controls['firstName'].invalid && (doctorForm.controls['firstName'].dirty || doctorForm.controls['firstName'].touched)">
         <div class="alert alert-danger error" *ngIf="doctorForm.controls['firstName'].hasError('required')">
           firstName is required.
         </div>
         <div class="alert alert-danger error" *ngIf="doctorForm.controls['firstName'].errors['minlength']">
           Min Length is 3
        </div>
         </div>
     </div>
 
           <!-- lastname -->
     <div class="form-group">
       <label for="lastName">lastName</label>
       <input id="lastName" type="text" formControlName="lastName" class="my-text">
        <!-- validation -->
       <div *ngIf="doctorForm.controls['lastName'].invalid && (doctorForm.controls['lastName'].dirty || doctorForm.controls['lastName'].touched)">
         <div class="alert alert-danger error"   *ngIf="doctorForm.controls['lastName'].hasError('required')">
           lastName is required.
         </div>
         <div class="alert alert-danger error"   *ngIf="doctorForm.controls['lastName'].errors['minlength']">
           Min Length is 3
        </div>
         </div>
     </div>
 
     <!-- age -->
     <div class="form-group">
       <label for="phone">phone</label>
       <input id="phone" type="text" formControlName="phone" class="my-text">
       <div *ngIf="doctorForm.controls['phone'].invalid && (doctorForm.controls['phone'].dirty || doctorForm.controls['phone'].touched)">
         <div class="alert alert-danger error" *ngIf="doctorForm.controls['phone'].hasError('required')">
           phone is required.
         </div>
         <div class="alert alert-danger error" *ngIf="doctorForm.controls['phone'].errors['minlength']">
            Length is 11
        </div>
         </div>
     </div>
 
     <div class="form-group">
       <label for="age">age</label>
       <input id="age" type="number" formControlName="age" class="my-text">
       <div *ngIf="doctorForm.controls['age'].invalid && (doctorForm.controls['age'].dirty || doctorForm.controls['age'].touched)">
         <div class="alert alert-danger error" *ngIf="doctorForm.controls['age'].hasError('required')">
            Age is required.
         </div>
         <div class="alert alert-danger error" *ngIf="doctorForm.controls['age'].hasError('min')">
           Min age=25,Max age=50
        </div>
        <div class="alert alert-danger error" *ngIf="doctorForm.controls['age'].hasError('max')">
         Min age=25,Max age=50
      </div>
         </div>
 
 
       <label for="clinic">Clinic</label>
       <mat-form-field appearance="fill">
         <mat-label>Clinics</mat-label>
         <mat-select  formControlName="clinic" multiple >
           <mat-option *ngFor="let clinic of clinics" [value]="clinic._id"  (onSelectionChange)="onSelectionChanged($event)">{{clinic.location.city}}</mat-option>
         </mat-select>
       </mat-form-field>
 
       
     </div>
   
 
     <div formGroupName="address" class="address">
       <h2>Address</h2>
     
       <label for="address.street">Street </label>
       <input id="street" type="text" formControlName="street" class="my-text">
     
       <label for="city">City </label>
       <input id="city" type="text" formControlName="city" class="my-text">
     
       <label for="building">Building </label>
       <input id="building" type="number" formControlName="building" class="my-text">
 
     </div>
   <button type="submit" (click)="onSubmit()" >Edit</button>
  
   <button type="submit" (click)="back()">Back</button>
 
 </form>
 <div style="flex: 1;">
 <img src="../../../assets/img/doc2-removebg-preview.png" width="150px" height="150px"/>
 </div>
 
 </div>
 
 
 
 
 
 