<!-- <div class="alert alert-info">
    <label>SSn:</label>
    <input type="text" [(ngModel)]="emp.SSN">
    <br>
    <label>firstName</label>
    <input type="text" [(ngModel)]="emp.firstName">
    <br>
    <label>lastName:</label>
    <input type="text" [(ngModel)]="emp.lastName">
    <br>
    <label>age:</label>
    <input type="text" [(ngModel)]="emp.age">
    <br>
    <label>city</label>
    <input type="text" [(ngModel)]="emp.address.city">
    <br>
    <label>street</label>
    <input type="text" [(ngModel)]="emp.address.street">
    <br>
    <label>building</label>
    <input type="text" [(ngModel)]="emp.address.building">
    <br>
    <label>Phone</label>
    <input type="text" [(ngModel)]="emp.phone">
    <br>
    <label>email</label>
    <input type="text" [(ngModel)]="emp.email">
    <br>
    <label>password</label>
    <input type="text" [(ngModel)]="emp.password">
    <br> -->
    <!--<label>job:</label>
    <input type="text" [(ngModel)]="emp.job">
    <br>
    <label>Salary:</label>
    <input type="text" [(ngModel)]="emp.salary">
    <br>
    <label>image:</label>
    <input type="text" [(ngModel)]="emp.image">
    <br>
    <label>clinic</label>
    <select [(ngModel)]="emp.clinic"  >
        <option value="10" >0</option>
        <option value="20">2</option>
        <option value="30">3</option>
        <option value="40">4</option>
    </select>
    <br>
    <label>Availability</label>
    <select [(ngModel)]="emp.availability">
        <option >true</option>
        <option >false</option>
    </select>
    <br>
    <button (click)="save()">Save</button>
</div>
<a routerLink="/employees/secondform">second</a> -->




<div class="form">
    <div mat-dialog-title>
        <h1>Employee Form</h1>
    </div>
    <!-- <form [FormGroup]="reactiveForm"> -->
        <div mat-dialog-content >
            
            <div class="row">
                <div class="form-group col-xs-2">
                    
                    <mat-form-field appearance="outline">
                        <mat-label>First Name</mat-label>
                        <input matInput type="text" [(ngModel)]="emp.firstName">
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Last Name</mat-label>
                        <input matInput type="text" [(ngModel)]="emp.lastName" >
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-xs-2">
                   
                        <mat-form-field appearance="outline">
                            <mat-label>SSN</mat-label>
                            <input matInput type="text" [(ngModel)]="emp.SSN" >
                        </mat-form-field>
                       
                    
                    <mat-form-field appearance="outline">
                        <mat-label>Age</mat-label>
                        <input matInput type="text" [(ngModel)]="emp.age">
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-xs-2">
                    <mat-form-field appearance="outline">
                        <mat-label>City</mat-label>
                        <input matInput type="text" [(ngModel)]="emp.address.city" >
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Street</mat-label>
                        <input matInput type="text" [(ngModel)]="emp.address.street">
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-xs-2">
                    <mat-form-field appearance="outline">
                        <mat-label>Building</mat-label>
                        <input matInput type="text" [(ngModel)]="emp.address.building">
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>MobilePhone</mat-label>
                        <input matInput type="text" [(ngModel)]="emp.phone">
                    </mat-form-field>
                </div>
            </div>
           
           
            <div class="row">
                <div class="form-group col-xs-2">
                    <mat-form-field appearance="outline">
                        <mat-label>Job</mat-label>
                        <input matInput type="text" [(ngModel)]="emp.job">
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Salary</mat-label>
                        <input matInput type="text" [(ngModel)]="emp.salary">
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-xs-2">
                    <mat-form-field appearance="outline">
                        <mat-label>Image</mat-label>
                        <input matInput type="text" [(ngModel)]="emp.image">
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Clinic</mat-label>
                        <mat-select [(ngModel)]="emp.clinic">
                            <mat-option *ngFor="let val of clinic" [value]="val">
                                {{val}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-xs-2">
                    <mat-radio-group aria-label="Select an option">
                        <mat-label><b>Availability</b></mat-label>
                        <mat-radio-button value="emp.availability.true">true</mat-radio-button>
                        <mat-radio-button value="emp.availability.false">false</mat-radio-button>
                    </mat-radio-group>
                </div>
            </div>
        </div>
        <div mat-dialog-actions>
            <button mat-raised-button>Cancel</button>
            <button mat-raised-button color="primary" (click)="save()">Save</button>
        </div>
<!--    
    </form> -->
</div>