<!-- <div class="alert alert-info">
    
     <label>city</label>
    <input type="text" [(ngModel)]="clinic.location.city">
    <br>
    <label>street</label>
    <input type="text" [(ngModel)]="clinic.location.street">
    <br>
    <label>building</label>
    <input type="text" [(ngModel)]="clinic.location.building">
    <br>
    <label>mobilePhone</label>
    <input type="text" [(ngModel)]="clinic.mobilePhone"> -->
<!-- <br>
    <label>Doctor</label>
    <select [(ngModel)]="clinic.doctors" multiple >
        <option value="10">doc1</option>
        <option value="20">doc2</option>
        <option value="30">doc3</option>
        <option value="40">doc4</option>
    </select>
    <br>
    <br>
    <label>Manager</label>
    <select [(ngModel)]="clinic.manager">
        <option >1</option>
        <option >2</option>
        <option >3</option>
    </select>
    <br> -->
<!-- <br>
    <label>Availability</label>
    
    <select [(ngModel)]="clinic.availability">
        <option >true</option>
        <option >false</option>
    </select>
    <br>
    
    <button (click)="save()">Save</button>-->
<!-- <div class="container">
        <div class="row" id="0">
        <div class="form-group col-xs-2"> -->
<!-- <div class="form">
  <div mat-dialog-title>
    <h1><b>Clinic Form</b></h1>
  </div>
  <form id="addclinic" [formGroup]="reactiveForm" (ngSubmit)="save(reactiveForm.value)">
    <div mat-dialog-content>
      <div class="mb-2" formGroupName="location">
        <div class="row">
          <div class="form-group col-xs-3">
            <mat-form-field appearance="outline">
              <mat-label>City</mat-label>
              <input matInput type="text" formControlName="city"  />
              <mat-error
              *ngIf="
                clinicValues['city'].invalid &&
                (clinicValues['city'].dirty ||
                clinicValues['city'].touched)
              "
              >City is required..</mat-error
            >
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Street</mat-label>
              <input matInput type="text" formControlName="street" />
              <mat-error
              *ngIf="
                clinicValues['street'].invalid &&
                (clinicValues['street'].dirty ||
                clinicValues['street'].touched)
              "
              >street is required..</mat-error
            >
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Building</mat-label>
              <input matInput type="text" formControlName="building" />
              <mat-error
              *ngIf="
                clinicValues['building'].invalid &&
                (clinicValues['building'].dirty ||
                clinicValues['building'].touched)
              "
              >building is required..</mat-error
            >
            </mat-form-field>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="form-group col-xs-3">
          <mat-form-field appearance="outline">
            <mat-label>MobilePhone</mat-label>
            <input matInput type="text" formControlName="mobilePhone" />
            <mat-error
            *ngIf="
              clinicValues['mobilePhone'].invalid &&
              (clinicValues['mobilePhone'].dirty ||
              clinicValues['mobilePhone'].touched)
            "
            >mobilePhone is required..</mat-error
          >
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Doctors</mat-label>
            <mat-select (selectionChange)="onDoctorSelected($event.value)" formControlName="doctors" multiple>
              <mat-option *ngFor="let val of doctors" [value]="val._id">
                {{ val.firstName | titlecase }}
                {{ val.lastName | titlecase }} -
                {{ val.specialty.specialty | titlecase }}
              </mat-option>
            </mat-select>
            <mat-error
          *ngIf="
            clinicValues['val'].invalid &&
            (clinicValues['val'].dirty ||
            clinicValues['val'].touched)
          "
          >Doctor is required..</mat-error
        >
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Manager</mat-label>
            <mat-select (selectionChange)="onDoctorSelected($event.value)" formControlName="manager">
              <mat-option *ngFor="let val of managers" [value]="val._id">
                {{ val.firstName | titlecase }}
                {{ val.lastName | titlecase }} -
                {{ val.specialty.specialty | titlecase }}
              </mat-option>
            </mat-select>
            
          </mat-form-field>
        </div>
      </div>
      <mat-error
      *ngIf="
        clinicValues['val'].invalid &&
        (clinicValues['val'].dirty ||
        clinicValues['val'].touched)
      "
      >Manager is required..</mat-error
    >
      <div class="row">
        <div class="form-group col-xs-2">
          <mat-radio-group
            aria-label="Select an option"
            formControlName="availability"
          >
            <mat-label><b>Availability</b></mat-label>
            <mat-radio-button value="true">true</mat-radio-button>
            <mat-radio-button value="false">false</mat-radio-button>
          </mat-radio-group>
        </div>
      </div>
    </div>
    <div mat-dialog-actions>
      <button mat-raised-button>Cancel</button>
      <button mat-raised-button color="primary" >Save</button>
    </div>
  </form>
</div> -->











<div class="container mat-elevation-z8 col-8">
  <form
    id="clinicForm"
    [formGroup]="clinicForm"
    (ngSubmit)="addclinic(clinicForm.value)"
    class="container p-3 m-auto"
  >
    <div class="example-container"  >
      <p class="fw-bold lead fs-6">Please Enter City</p>
      <mat-form-field appearance="fill">
        <mat-label>city</mat-label>
        <input
          matInput
          placeholder="Enter city..."
          formControlName="location.city"
        />
        <mat-error
          *ngIf="
            clinicValues['location.city'].invalid &&
            (clinicValues['location.city'].dirty ||
              clinicValues['location.city'].touched)
          "
          >city is required..</mat-error
        >
      </mat-form-field>
    </div>
    <div class="example-container">
      <p class="fw-bold lead fs-6">Please Enter street</p>
      <mat-form-field appearance="fill">
        <mat-label>street</mat-label>
        <input
          matInput
          placeholder="Enter street..."
          formControlName="location.street"
        />
        <mat-error
          *ngIf="
            clinicValues['location.street'].invalid &&
            (clinicValues['location.street'].dirty ||
              clinicValues['location.street'].touched)
          "
          >street is required..</mat-error
        >
      </mat-form-field>
    </div>
    <div class="example-container">
      <p class="fw-bold lead fs-6">Please Enter building</p>
      <mat-form-field appearance="fill">
        <mat-label>building</mat-label>
        <input
          matInput
          placeholder="Enter building..."
          formControlName="location.building"
        />
        <mat-error
          *ngIf="
            clinicValues['location.building'].invalid &&
            (clinicValues['location.building'].dirty ||
              clinicValues['location.building'].touched)
          "
          >building is required..</mat-error
        >
      </mat-form-field>
    </div>
    <div class="example-container">
      <p class="fw-bold lead fs-6">Please Enter mobilePhone</p>
      <mat-form-field appearance="fill">
        <mat-label>mobilePhone</mat-label>
        <input
          matInput
          placeholder="Enter mobilePhone..."
          formControlName="mobilePhone"
        />
        <mat-error
          *ngIf="
            clinicValues['mobilePhone'].invalid &&
            (clinicValues['mobilePhone'].dirty ||
              clinicValues['mobilePhone'].touched)
          "
          >mobilePhone is required..</mat-error
        >
      </mat-form-field>
    </div>

   

    <div class="example-container">
      <p class="fw-bold lead">Please Select Doctor</p>
      <mat-form-field appearance="fill">
        <mat-label>Select Doctor..</mat-label>
        <mat-select
          (selectionChange)="onDoctorSelected($event.value)"
          formControlName="doctors" multiple
        >
          <mat-option *ngFor="let doctor of doctors" [value]="doctor._id">
            {{ doctor.firstName | titlecase }}
            {{ doctor.lastName | titlecase }} -
            {{ doctor.specialty.specialty | titlecase }}
          </mat-option>
        </mat-select>

        <mat-error
          *ngIf="
            clinicValues['doctors'].invalid &&
            (clinicValues['doctors'].dirty ||
              clinicValues['doctors'].touched)
          "
          >Doctor is required..</mat-error
        >
      </mat-form-field>
    </div>
    <!-- <div class="example-container">
      <p class="fw-bold lead">Please Select Manger</p>
      <mat-form-field appearance="fill">
        <mat-label>Select manager..</mat-label>
        <mat-select
          (selectionChange)="onMangerSelected($event.value)"
          formControlName="manager"
        >
          <mat-option *ngFor="let manger of managers" [value]="manager._id">
            {{ managers.firstName | titlecase }}
            {{ managers.lastName | titlecase }} 
          </mat-option>
        </mat-select>

        <mat-error
          *ngIf="
            clinicValues['manager'].invalid &&
            (clinicValues['manager'].dirty ||
            clinicValues['manager'].touched)
          "
          >manager is required..</mat-error
        >
      </mat-form-field>
    </div> -->

   

      <!-- <mat-error
        *ngIf="
          appointmentValues['date'].invalid &&
          (appointmentValues['date'].dirty || appointmentValues['date'].touched)
        "
        >Appointment Date is required..</mat-error
      >
      <mat-error *ngIf="appointmentValues['date'].errors['pattern']"
        >Appointment Date Must be on format DD/MM/YYYY</mat-error
      > -->

      <!-- The date doesnot displayed on the input -->
      
 

 

    <div class="example-button-row">
      <button mat-raised-button color="primary">Add Clinic</button>
    </div>
  </form>
</div>