<div *ngIf="authService.loggedIn">
  Welcome, {{ email }}!
  <button (click)="logout()">Logout</button>
</div>
<div *ngIf="!authService.loggedIn">
  <form (ngSubmit)="login()">
    <div class="example-container">
      <mat-form-field class="example-full-width">
        <mat-label>Email</mat-label>
        <input
          type="email"
          matInput
          [(ngModel)]="email"
          name="email"
          [errorStateMatcher]="matcher"
          placeholder="Ex. pat@example.com"
        />
        <!-- <mat-error
        *ngIf="
          loginValues['email'].errors['email'] &&
          !loginValues['email'].errors['required']
        "
      >
        Please enter a valid email address
      </mat-error>
      <mat-error *ngIf="loginValues['email'].errors['required']">
        Email is <strong>required</strong>
      </mat-error> -->
      </mat-form-field>
    </div>
    <div class="example-container">
      <mat-form-field appearance="fill">
        <mat-label>Enter your password</mat-label>
        <input
          matInput
          [type]="hide ? 'password' : 'text'"
          [(ngModel)]="password"
          name="password"
        />
        <button
          mat-icon-button
          matSuffix
          (click)="hide = !hide"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide"
        >
          <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
      </mat-form-field>
    </div>

    <div>
      <button mat-raised-button color="primary">Login</button>
    </div>
  </form>
</div>
