<!-- 
<div class="table-responsive">
    <table class="table table-primary">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">city</th>
                <th scope="col">street</th>
                <th scope="col">building</th>
                <th scope="col">MobilePhine</th>
                <th scope="col">Doctors</th>
                <th scope="col">Manager</th>
                <th scope="col">Availability</th>
               
            </tr>
    
        </thead>
        <tbody>
            <tr >
                <td>{{clinic._id}}</td>
                <td>{{clinic.location.city}}</td>
                <td>{{clinic.location.street}}</td>
                <td>{{clinic.location.building}}</td>
                <td>{{clinic.mobilePhone}}</td>
                <td>{{clinic.doctors}}</td>
                <td>{{clinic.manager}}</td>
                <td>{{clinic.availability}}</td>
            
              
               
            </tr>
    
        </tbody>
    </table>
    <div> -->

        <!-- ID Column -->
        <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="_id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
            <td mat-cell *matCellDef="let row "> {{row._id}} </td>
          </ng-container>
      
          <!-- Progress Column -->
          <ng-container matColumnDef="city">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> clity </th>
            <td mat-cell *matCellDef="let row "> {{row.location.city}}</td>
          </ng-container>
      
          <!-- Name Column -->
          <ng-container matColumnDef="street">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> street </th>
            <td mat-cell *matCellDef="let row"> {{row.location.street}} </td>
          </ng-container>
      
          <!-- Fruit Column -->
          <ng-container matColumnDef="building">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> building </th>
            <td mat-cell *matCellDef="let row"> {{row.location.building}} </td>
          </ng-container>
          <!-- Fruit Column -->
          <ng-container matColumnDef="mobilePhone">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> mobilePhone </th>
            <td mat-cell *matCellDef="let row"> {{row.mobilePhone}} </td>
          </ng-container>
          <!-- Fruit Column -->
          <ng-container matColumnDef="doctors">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> doctors </th>
            <td mat-cell *matCellDef="let row"> {{row.doctors}} </td>
          </ng-container>
          <!-- Fruit Column -->
          <ng-container matColumnDef="manager">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> manager </th>
            <td mat-cell *matCellDef="let row"> {{row.manager}} </td>
          </ng-container>
          <!-- Fruit Column -->
          <ng-container matColumnDef="availability">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> availability </th>
            <td mat-cell *matCellDef="let row"> {{row.availability}} </td>
          </ng-container>
          <!-- Fruit Column -->
          
         
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      
          <!-- Row shown when there is no matching data. -->
        
      
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
       
            