<!-- <mat-slide-toggle>Toggle me!</mat-slide-toggle>
<button mat-fab extended>
 
  Home
</button> -->
<div>
  <!-- <app-header></app-header> -->
  <!-- <app-left-panel></app-left-panel> -->

  <!-- <a [routerLink]="['/clinics']">clinic</a>
  <hr />
  <a [routerLink]="['/employees']">employees</a>
  <router-outlet></router-outlet> -->
</div>
<!-- <app-patient-details></app-patient-details>  -->
<div class="container col-8">
  <!-- <app-add-patient></app-add-patient> -->
</div>
<app-list-patients></app-list-patients>
<app-list-appointments></app-list-appointments>

<!-- <div class="container col-6">
  <app-add-appointment></app-add-appointment>
</div> -->

<!-- <app-login></app-login> -->
