<!-- <mat-slide-toggle>Toggle me!</mat-slide-toggle>
<button mat-fab extended>
 
  Home
</button> -->
<router-outlet></router-outlet>
<!-- .page-section -->
<!-- <router-outlet></router-outlet> -->
<!-- <app-footer></app-footer> -->
<!-- <router-outlet></router-outlet> -->


<!-- <app-panel></app-panel>
  <div class="page-section">
    <div class="container">
      <h1 id="appointment" class="text-center wow fadeInUp">
        Make an Appointment
      </h1>
      <div class="container col-6">
        <router-outlet></router-outlet>
        <a [routerLink]="['/appointment']"></a>
        <app-add-appointment></app-add-appointment>
      </div>
    </div> -->
<!-- <a [routerLink]="['/employees']">employees</a>  -->
<!-- </div> -->

<!-- <app-admin-view></app-admin-view> -->
<!-- <app-patient-details></app-patient-details>  -->
<!-- <div class="container col-8"> -->
<!-- <app-add-patient></app-add-patient> -->
<!-- </div> -->
<!-- <app-list-patients></app-list-patients> -->

<!-- <app-add-appointment></app-add-appointment> -->

<!-- <div> -->
<!-- <app-list-invoices></app-list-invoices> -->
<!-- <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br /> -->

<!-- <app-login></app-login>

  <app-patient-profile
    *ngIf="authService.isLoggedIn | async"
  ></app-patient-profile> -->
<!-- </div> -->

<!-- <app-employees-list></app-employees-list> -->
<!-- <app-patient-profile></app-patient-profile> -->
<!-- </div> -->
<!-- </div>
</div> -->

<!-- <app-patient-page></app-patient-page> -->
