<!-- <div class="form">
    <div mat-dialog-title>
      <h1><b>Medicine Form</b></h1>
    </div>
    <form [formGroup]="reactiveForm" (ngSubmit)="save(reactiveForm.value)">
      
  
        <div class="row">
          <div class="form-group col-xs-3">
            <mat-form-field appearance="outline">
              <mat-label>Name</mat-label>
              <input matInput type="text" formControlName="name" />
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Description</mat-label>
                <input matInput type="text" formControlName="description" />
              </mat-form-field>
          
         
          </div>
        </div>
       
     
   
      <div mat-dialog-actions>
        <button mat-raised-button>Cancel</button>
        <button mat-raised-button color="primary" >Save</button>
      </div>
    </form>
  </div> -->


  
<div class="form">
  <div mat-dialog-title>
    <h1><b>Medicine Form</b></h1>
  </div>
  <form  id="medicineForm" [formGroup]="medicineForm" (ngSubmit)="addmedicine(medicineForm.value)">
    <div mat-dialog-content>
      

      <div class="row">
        <div class="form-group col-xs-3">
          <mat-form-field appearance="outline">
            <mat-label>Name</mat-label>
            <input matInput type="text" placeholder="Enter Medicine Name..." formControlName="name" />
            <mat-error
            *ngIf="
              medicineValues['name'].invalid &&
              (medicineValues['name'].dirty ||
              medicineValues['name'].touched)
            "
            >name is required..</mat-error
          >
          <!-- <mat-error
            *ngIf="
              medicineValues['name']?.errors &&
              (medicineValues['name'].dirty ||
              medicineValues['name'].touched)
            "
            >invalid name of Medicine..</mat-error
          > -->
          </mat-form-field>



          <mat-form-field appearance="outline">
            <mat-label>Description</mat-label>
            <input matInput type="text" placeholder="Enter Medicine Description..." formControlName="description" />
            <mat-error
            *ngIf="
              medicineValues['description'].invalid &&
              (medicineValues['description'].dirty ||
              medicineValues['description'].touched)
            "
            >description is required..</mat-error
          >
          </mat-form-field>
        </div>
      </div>
    </div>
            
    
              <div mat-dialog-actions>
                <button mat-raised-button  [routerLink]="['/medicine']">Cancel</button>
                <button mat-raised-button color="primary" >Save</button>
              </div>
  </form>
</div>


<div class="container">
  <div class="alert alert-success text-center col-6" *ngIf="!showForm">
    {{ successMessage }}
  </div>

 

<div class="alert alert-danger text-center col-6 m-auto" *ngIf="errorMessage">
  {{ errorMessage }}
</div>
